[package]
name = "vantage-types-entity"
version = "0.1.0"
edition = "2021"

[features]
serde = []

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0"
quote = "1.0"
syn = { version = "2.0", features = ["full", "extra-traits"] }
